@define-color surface0 #1c2021;
@define-color surface1 #3c3836;
@define-color surface2 #504945;
@define-color surface3 #665c54;

@define-color surface0_light #fbf1c7;
@define-color surface1_light #ebdbb2;
@define-color surface2_light #d5c4a1;
@define-color surface3_light #bdae93;

@define-color highlight0 #af3a03;
@define-color highlight1 #d65d0e;
@define-color highlight2 #fe8019;

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/*

window {
margin: 0px;
border: 1px solid #928374;
background-color: #282828;
}

#input {
margin: 5px;
border: none;
color: #ebdbb2;
background-color: #1d2021;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282828;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282828;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #ebdbb2;
}

#entry:selected {
background-color: #1d2021;
}

*/
